div{
    background-color:#660000;
    height:200px ;
    width:200px;

}
div.transfrom{

}


div.translate:hover{
transform: translate(50px,60px);
background-color:yellowgreen;
}
div.rotate:hover{
    transform: rotate(-20deg);
    background-color:yellowgreen;
}
div.skew:hover{
    transform:skew(-20deg);
    background-color:yellowgreen;
}
    